{% if module %}
# {{module.name}}

{{module.description}}
{% endif %}{# module #}

## Contents

{% if moduleMembersToc %}
**Module Members**
{{ moduleMembersToc }}
{% endif %}{# moduleMembersToc #}

{% if injectablesToc %}
**Injectable Services**
{{ injectablesToc }}
{% endif %}{# injectablesToc #}

{% if directivesToc %}
**AngularJS Directives**
{{ directivesToc }}
{% endif %}{# directivesToc #}

{% if typesToc %}
**Types**
{{ typesToc }}
{% endif %}{# typesToc #}


{% if moduleMembers %}
## Module Members
{{ moduleMembers }}
{% endif %}{# moduleMembers #}

{% if injectables %}
## Injectable Services
{{ injectables }}
{% endif %}{# injectables #}

{% if directives %}
## AngularJS Directives
{{ directives }}
{% endif %}{# directives #}

{% if types %}
## Types
{{ types }}
{% endif %}{# types #}
