#### <a name="{{ fullName }}"></a>{{ fullName }}({{ paramsForArgsList.join(', ')|wrap(' ',paramsForArgsList.length) }})

{{ _replaceLinks( description ) }}

{% if params.length %}
##### Parameters

| Property | Type | Description |
| -------- | ---- | ----------- |
{% for param in params %}| {{ param.name|wrap('_',param.dox.optional) }}{{ '...'|if(param.dox.variable) }} | {{ _renderTypes( param ) }} | {{ _replaceLinks( param.description ) }} |
{% endfor %}
{% endif %}{# params.length #}

{% if returns %}
##### Returns

| Type | Description |
| ---- | ----------- |
| {{ _renderTypes( returns ) }} | {{ _replaceLinks( returns.description ) }} |
{% endif %}{# returns #}
