#### <a name="{{ fullName }}"></a>{{ fullName }}({{ paramsForArgsList.join(', ')|wrap(' ',paramsForArgsList.length)}})
{{ description }}

{% if params.length %}
##### Parameters
| Property | Type | Description |
| -------- | ---- | ----------- |
{% for param in params %}| {{ param.name|wrap('_',param.dox.optional) }} | `{{ param.types.join( '`, `') }}` | {{param.description }} |
{% endfor %}
{% endif %}{# params.length #}

{% if returns %}
##### Returns
| Type | Description |
| ---- | ----------- |
| `{{ returns.types.join( '`, `') }}` | {{ returns.description }} |
{% endif %}{# returns #}
