{% for entry in entries %}- [{{ entry.name }}]({{ entry.link }})
{% for child in entry.children %}  - [{{ child.name }}]({{ child.link }})
{% endfor %}{# child in entry.children #}{% endfor %}{# entry in entries #}
