{% for entry in entries %}- [{{ entry.name }}](#{{ entry.name }})
{% for child in entry.children %}  - [{{ child.name }}](#{{ child.name }})
{% endfor %}{# child in entry.children #}{% endfor %}{# entry in entries #}
