### <a name="{{ name }}"></a>{{ name }}
{% if extendsType %}
> extends {{ _renderType( extendsType ) }}
{% endif %}

{{ _replaceLinks( description ) }}

{% if params.length %}
##### Parameters

| Property | Type | Description |
| -------- | ---- | ----------- |
{% for param in params %}| {{ param.name|wrap('_',param.dox.optional) }}{{ '...'|if(param.dox.variable) }} | {{ _renderTypes( param ) }} | {{ _replaceLinks( param.description ) }} |
{% endfor %}
{% endif %}{# params.length #}

{{ members }}
