## <a name="{{ name }}"></a>{{ name }}
{{ description }}

{% if params.length %}
#### Parameters
| Property | Type | Description |
| -------- | ---- | ----------- |
{% for param in params %}| {{ param.name|wrap('_',param.dox.optional) }} | `{{ param.types.join( '`, `') }}` | {{param.description }} |
{% endfor %}
{% endif %}{# params.length #}

{{ members }}
